fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

sqlalchemy
psycopg2-binary
alembic

redis
celery

python-socketio[asgi]
httpx

openai
google-genai

langgraph
langchain
langchain-openai
groq

chromadb
PyGithub

structlog
tenacity
python-multipart

pytest
